* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');*/

body {
    font-family: 'Jost' !important;
}

/* app-navbar */
.app-navbar {
    background-color: var(--bs-black);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.app-navbar .navbar .navbar-brand img {
    height: 3.5rem;
}

.app-navbar .navbar .navbar-nav {
    gap: 0.25rem;
}

.app-navbar .navbar .navbar-nav .nav-item .nav-link {
    color: var(--bs-white);
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--bs-border-radius-sm);
    font-size: 14px;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.50rem;
}

/* user-form */
.user-form,
.view-data {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%), url('https://www.quantique.ai/assets/4x/Asset%2029@4x1.png');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
}

.user-form .card,
.view-data .card {
    background-color: var(--bs-black);
    border-color: rgb(173 181 189 / 32%);
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--bs-black);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    color: #cccccc;
    text-align: center;
    font-size: 14px;
    padding: 1rem 0;
}

.footer p {
    margin-bottom: 0;
}

/* web-heading */
.web-heading h1 {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #FFCC1B;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.form-select {
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    background-color: transparent !important;
    color: #FFFFFFB3 !important;
    border-radius: 2px !important;
}
    .form-select option {
        color: var(--bs-secondary);
    }
    .form-control {
        /* border: 2px solid rgba(255, 255, 255, 0.5); */
        color: #FFFFFFB3 !important;
        background-color: transparent !important;
        border-radius: 2px !important;
    }
.user-form .card .card-body .form-label {
    font-weight: 600;
    color: var(--bs-white);
}

.user-form .card .card-body .form-label span {
    color: var(--bs-danger);
}

.user-form .card .card-body .btn {
    border-radius: 2px;
    background-color: #FFCC1B;
    text-transform: uppercase;
    font-weight: 500;
}

/* view-data */
.view-data .app-table .table {
    margin-bottom: 0;
    background-color: transparent;
}

.view-data .app-table .table thead tr th {
    background-color: transparent;
    color: #cccccc;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.view-data .app-table .table tbody tr td {
    color: #cccccc;
    background-color: transparent;
}

/* dealer-detail */
.dealer-detail {
    padding: 3rem 0;
}

.dealer-detail .profile-card .card {
    border: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #FFCC1B;
}

.dealer-detail .logo {
    /* height: 5rem; */
    width: 100%;
    border: 1px solid var(--bs-dark);
    border-radius: var(--bs-border-radius-lg);
}

    .dealer-detail .card .card-body .profile-name {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0.50rem;
    }
.dealer-detail .card .card-body ul li i{
    font-size: 20px;
}
    .dealer-detail .card .card-body ul li p {
        margin-bottom: 0;
        text-transform: capitalize;
    }
.dealer-detail .card .card-body ul li h6{
    margin-bottom: 0;
    font-weight: 500;
    text-transform:capitalize;
}
.our-services{
    margin-bottom:1rem;
}
.our-services .card {
    border: 0;
    transition: all 0.35s ease-in-out;
    text-align: center;
}
.our-services .card .card-body img{
    height: 3rem;
    margin-bottom: 0.50rem;
}
.our-services .card .card-body .card-text{
    color: var(--bs-secondary);
}
    .our-services .card .card-body .bottom-link span {
        font-size: 18px;
        font-weight: 600;
   
       
    }
    .our-services .card .card-body .card-title{
        text-transform:capitalize;
    }
    
    .our-services .card:hover {
        background-color: #FFCC1B;
       
    }
    .our-services .card .card-body .bottom-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .view-data .card .card-body .app-table .dataTables_length {
        float: left;
        color: var(--bs-white);
    }
.view-data .card .card-body .app-table .dataTables_filter {
    color: var(--bs-white);
}
.app-table .dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link {
    background-color: #FFCC1B;
    border-color:#FFCC1B;
}
.app-table .dataTables_wrapper .dataTables_info {
    float:left;
    color:var(--bs-white);
}
.modal .form-control, .modal .form-select {
    color: var(--bs-dark) !important;
}