<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in zz
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="1" value="https://www.amrutanjan.com/headache-aromatic-balm-massage.html" />
    <add key="2" value="https://www.amrutanjan.com/strong-balm.html" />
    <add key="3" value="https://www.amrutanjan.com/Maha-strong-balm.html" />
    <add key="4" value="https://www.amrutanjan.com/ElectroPlus.html" />
    <add key="5" value="https://www.amrutanjan.com/ElectroPlus.html" />
    <add key="6" value="https://www.amrutanjan.com/index.html" />
    <add key="7" value="https://www.amrutanjan.com/headache-roll-on.html" />
    <add key="8" value="https://tntbazaar.com/warranty/" />
    <add key="9" value="https://nutravelhealthcare.com/" />
    <add key="10" value="https://amulyaayurveda.com/" />
    <add key="11" value="http://blackmangoherbs.com/" />
    <add key="hashvalue" value="md5b2lDaeHj" />
    <add key="vcqru_dotcom" value="VCQRU.COM" />
    <add key="vcqru" value="VCQRU" />
    <add key="analyticid" value="UA-161741227-1" />
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;" />
    <add key="SMS" value="Knowlarity" />
    <!--<add key="SMS" value="Smart"/>-->
    <!--<add key="SMS" value="Alfa" />-->
    <!-- <add key="OTP" value="Knowlarity"/>-->
    <add key="OTP" value="kaleyra" />
    <!--   <add key="OTP" value="Smart"/>-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="register@label9420.com">
        <!--<network host="mail.label9420.com"/>-->
        <network host="ip-50-62-22-160.secureserver.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!-- <add name="defaultConnectionbeta" connectionString="Connect Timeout=10000000; pooling=true; Max Pool Size=200;Data Source=VCQRU;Initial Catalog=vcqru;User ID=vcqru_label;Password=vcqruadmin@123" providerName="System.Data.SqlClient"/>-->
    <add name="defaultConnectionbeta" connectionString="Connect Timeout=10000000; pooling=true; Max Pool Size=1000;Data Source=vcqruprod\VCQRU;Initial Catalog=vcqru;User ID=vcqru_label;Password=Midland@2018" providerName="System.Data.SqlClient" />
    <add name="ServerName" connectionString="mail.label9420.com" />
    <add name="UserName" connectionString="registered@label9420.com" />
    <add name="Password" connectionString="regis1234!@#$" />
    <add name="UserNameDemo" connectionString="demo@label9420.com" />
    <add name="PasswordDemo" connectionString="demo1234!@#$" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="defaultConnectionbeta" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="20480" />
    <!--  <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1"/> -->
    <!-- <identity impersonate="true"/>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2">
      
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <codeSubDirectories>
        <add directoryName="vb" />
      </codeSubDirectories>
    </compilation>
    
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
  -->
    <customErrors defaultRedirect="ErrorPage.aspx" mode="Off">
      <error statusCode="403" redirect="ErrorPage.aspx" />
      <error statusCode="404" redirect="ErrorPage.aspx" />
      <error statusCode="500" redirect="ErrorPage.aspx" />
    </customErrors>
    <globalization culture="en-GB" uiCulture="af-ZA" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <!-- <sessionState mode="InProc" timeout="20" />-->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="20" />
    <authentication mode="Forms">
      <!--<forms defaultUrl="~/Default.aspx" loginUrl="~/adminLogin.aspx" />-->
      <forms loginUrl="adminLogin.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="20" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <location path="index.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="vj#;vjs;vjsharp" extension=".jsl;.java" type="Microsoft.VJSharp.VJSharpCodeProvider, VJSharpCodeProvider, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <rewrite>
      <rules>
        <!--<rule name="index.html" stopProcessing="true">
          <match url="^(.*\/)*index\.html$"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$"/>
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>-->
		<rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true"> 
	    <match url="(.*)" /> 
	    <conditions> 
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
	    </conditions> 
	    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="index.aspx" stopProcessing="true">
          <match url="^(.*\/)*index\.aspx$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" negate="true" pattern="^POST$" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to www" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="vcqru.com" />
          </conditions>
          <action type="Redirect" url="https://www.vcqru.com/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.html" />
        <add value="Default.aspx" />
        <add value="Index.htm" />
        <add value="Index.cfm" />
        <add value="Index.shtml" />
        <add value="Index.shtm" />
        <add value="Index.stm" />
        <add value="Index.php" />
        <add value="Index.php3" />
        <add value="Index.asp" />
        <add value="Index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>