* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.deleted-account .card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

.deleted-account .logo img {
  height: 4rem;
}

.deleted-account .card .card-body form .form-label {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.deleted-account .card .card-body form .form-control {
  border-radius: 2px;
}

.deleted-account .card .card-body form button {
  width: 100%;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
}

.otp {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  gap: 16px;
}

.deleted-account .card .card-body h5 {
  font-weight: 600;
  color: var(--bs-primary);
  margin-bottom: 0.50rem;
}

.deleted-account .card .card-body p {
  color: var(--bs-secondary);
  font-size: 14px;
  margin-bottom: 1rem;
}

.otp-hidden {
  display: none;
}

.fw-500 {
  font-weight: 500;
}

.fs-14 {
  font-size: 14px !important;
}

/* form-section */
.form-section {
  display: none;
}

.form-section.active {
  display: block;
}