  .thumb {
    height: 40px;
    width:40px;    
    float:left;
    margin-right:5px;
  }
   #ctl00_ContentPlaceHolder1_list div 
  {
     vertical-align:top;
     height: 60px;
     width:60px;
     float:left;
  }

  #ctl00_ContentPlaceHolder1_list div div
  {     
     background:url('101.png') no-repeat;  
     height: 10px;
     width:10px;         
     float:left;    
     margin:0px 0px 0px 2px;
     padding:0px 1px 0px 0px;
     
  }