.{
    background-image: url(./assets/images/marmo/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    position: relative;
    display: table;
    height: 100vh;
    padding-bottom: 10px;
}