*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*body {
    background: url('../img/Shree-durga.jpg');*/
    /*height: 100vh;*/
    /*background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 5rem 0;
}*/

.header {
    background: url(../img/Shree-durga.jpg);
    /* height: 100vh;*/
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 5rem 0;
    /*   display: inline-table;*/
    width: 100%;
}


/* header */
/*.header{
   
    position: relative;
  
}*/
/*.hero-img{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 40rem;
   
}*/
/*.hero-img img{*/
    /*height: 100%;*/
    /*width: 100%;
    
}*/

 /*   .hero-img img {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
    }*/


/*.hero-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
}*/

.hero-img img {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
}

.top-logo{
    z-index: 10000;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.top-logo img{
    height: 100%;
    width:100%;
}
.app-slider ul li{
    background-color: var(--bs-white);
    padding: 0.50rem;
    border-radius: var(--bs-border-radius-lg);
    height: 5rem;
    width: 10rem;
}
/*.app-slider ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}*/

    .app-slider ul li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.app-slider ul{
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
     justify-content: center; 
}
.copyright{
    position:fixed;
    bottom: 0;
    background-color: var(--bs-warning);
    width: 100%;
    left: 0;
    padding: 0.25rem 0;
    z-index: 10000;
}
.copyright p{
    margin-bottom: 0;
    text-align: center;
}
/*.header .card form label{
    font-size: 10px;
}*/

.header .card form label {
    font-size: 12px;
    font-weight: 600;
}

.top-logo {
    height: 6rem;
    margin: 0 auto;
    width: 12rem;
    /* background: red;*/
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



@media screen and (max-width:1024px) {
    
     /*   .hero-img img {
            height: 100%;
            width: 100%;
            display: none;
        }*/
    .header .card{
        margin-top: 4rem;
        
    }
}
@media screen and (max-width:768px) {
    .app-slider .carousel-control-prev{
        display:none;
    }
    .app-slider .carousel-control-next {
        display: none;
    }
   /* .hero-img {
        display: none;
    }*/
    .translate-middle-x {
        transform: translateX(-20%) !important;
    }
    .app-slider ul li {
        width: 7rem;
    }
    
}
/*.app-slider .carousel-control-prev{
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: var(--bs-border-radius-pill);
    left: -60px;
    transform: translateY(-50%);
    top: 50%;
}*/

.app-slider .carousel-control-prev {
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: var(--bs-border-radius-pill);
    left: -40px;
    transform: translateY(-50%);
    top: 50%;
}


/*.app-slider .carousel-control-next{
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: var(--bs-border-radius-pill);
    right: -60px;
    transform: translateY(-50%);
    top: 50%;
}*/

.app-slider .carousel-control-next {
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: var(--bs-border-radius-pill);
    right: -40px;
    transform: translateY(-50%);
    top: 50%;
}